= simple_form_for(@application_setting, url: [:application_setting]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :host
    = f.input :frontend_host_schema, collection: f.object.class.frontend_host_schemas.keys, include_blank: false, label_method: :titleize
    = f.input :allow_creation_of_stacks, wrapper: :custom_boolean_switch
    = f.input :user_default_approved_regex

    = f.input :default_production_environment_name

    hr.divider

    / I don't know why, but in Safari it only works when you first specify the value and then the type.
    = f.input :primary_color, input_html: { value: f.object.primary_color, type: :color }
    = f.input :table_options, collection: f.object.class::TABLE_OPTIONS, as: :check_boxes
    hr.divider

    - node_labels = [f.object.node_labels, f.object.available_node_labels].flatten.uniq
    = f.input :node_labels, collection: node_labels, as: :check_boxes
    .row
      .col-md-6 = f.input :default_production_node_label, collection: node_labels
      .col-md-6 = f.input :default_review_node_label, collection: node_labels

    hr.divider

    = f.input :prometheus, input_html: { "data-toggle": "collapse", "data-target": "#collapse-prometheus" }, wrapper_html: { class: "user-select-none" }, wrapper: :custom_boolean_switch
    #collapse-prometheus.collapse class=("show" if f.object.prometheus?)
      = f.input :prometheus_host

    hr.divider
    = f.input :minio, input_html: { "data-toggle": "collapse", "data-target": "#collapse-minio" }, wrapper_html: { class: "user-select-none" }, wrapper: :custom_boolean_switch
    #collapse-minio.collapse class=("show" if f.object.minio?)
      = f.input :minio_host
      = f.input :minio_access_key
      = f.input :minio_secret_key

    hr.divider

    = f.input :traefik_version, collection: f.object.class.traefik_versions.keys, include_blank: false
    = f.input :traefik_network
    = f.input :traefik_default_entrypoints
    = f.input :traefik_cert_resolvers, input_html: { value: f.object.traefik_cert_resolvers.join("\n") }, as: :text
    = f.input :backend_name

  .form-actions
    = f.button :submit, class: "btn-primary ml-auto"
