.nested-fields
  .row
    .col.w-spacer-7.align-self-center
      = f.input :read_only
    .col.w-spacer-20
      = f.association :volume, collection: f.object.stack.volumes.ordered, label: false, prompt: :translate
    .col
      = f.input :target, label: false
    .col.w-remove-button
      = link_to_remove_association "&times;".html_safe, f, class: "btn btn-block btn-danger"
