- page_heading
  h1
    => @stack.name
    small = t(".title")
  - if policy(Service).create?
    = link_to t(:title, scope: %i[services new]), [:new, @stack, :service], class: "btn btn-secondary"


.table-responsive
  table.table class=Current.settings.table_class
    thead
      tr
        th = Service.human_attribute_name("name")
        th = Service.human_attribute_name("image")
        th.d-none.d-md-table-cell = Service.human_attribute_name("command")
        th = Service.human_attribute_name("replicas")
        th
        th


    tbody
      - @services.each do |service|
        tr
          td = service.name
          td.pre = service.image
          td.d-none.d-md-table-cell.pre = service.command
          td: .badge.badge-dark = service.replicas
          td.with-btn
            - if policy(service).show?
              = link_to t(:show), service, class: "btn btn-sm btn-primary"
          td.with-btn
            - if policy(service).update?
              = link_to t(:edit), edit_service_path(service), class: "btn btn-sm btn-secondary"
