- page_heading
  h1
    => @service.stack.name
    small
      => Service.model_name.human
      => @service.name

  - if policy(@service).update?
    = link_to t(:edit), [:edit, @service], class: "btn btn-secondary"

.row.mb-3
  .col-md-6
    .card.mb-3
      .list-group.list-group-flush
        .list-group-item.d-flex.flex-column
          .small.font-weight-bold = Service.human_attribute_name("image")
          .text-muted = @service.image
        - if @service.command?
          .list-group-item.d-flex.flex-column
            .small.font-weight-bold = Service.human_attribute_name("command")
            .text-muted = @service.command

  .col-md-6
    .card.mb-3
      .card-header.d-flex.flex-row.justify-content-between.align-items-center
        = Service.human_attribute_name("healthcheck")
        - unless @service.healthcheck?
          small.font-weight-bold Disabled

      - if @service.healthcheck?
        .list-group.list-group-flush
          .list-group-item.d-flex.flex-column
            .small.font-weight-bold = Service.human_attribute_name("healthcheck_test")
            .text-muted = @service.healthcheck_test
          .list-group-item.d-flex.flex-row.justify-content-between
            .option.d-flex.flex-column.mr-3.flex-fill
              .small.font-weight-bold = Service.human_attribute_name("healthcheck_interval")
              .text-muted = number_to_duration @service.healthcheck_interval
            .option.d-flex.flex-column.mr-3.flex-fill
              .small.font-weight-bold = Service.human_attribute_name("healthcheck_timeout")
              .text-muted = number_to_duration @service.healthcheck_timeout
            .option.d-flex.flex-column.mr-3.flex-fill
              .small.font-weight-bold = Service.human_attribute_name("healthcheck_start_period")
              .text-muted = number_to_duration @service.healthcheck_start_period
            .option.d-flex.flex-column.flex-fill
              .small.font-weight-bold = Service.human_attribute_name("healthcheck_retries")
              .text-muted = @service.healthcheck_retries

.card-columns
  - if @service.frontends.any?
    .card.mb-3
      .card-header = Frontend.model_name.human(count: 2)
      .list-group.list-group-flush
        - @service.frontends.ordered.each do |frontend|
          .list-group-item.d-flex.flex-column
            .name.small
              .float-left.font-weight-bold = frontend.name
              .float-right #{Frontend.human_attribute_name("port")} #{frontend.port}
            .target.text-muted = frontend.hosts

  - if @service.volume_claims.any?
    .card.mb-3
      .card-header = Volume.model_name.human(count: 2)
      .list-group.list-group-flush
        - @service.volume_claims.ordered_by_volume.each do |claim|
          .list-group-item.d-flex.flex-column
            .name.small
              .float-left.font-weight-bold = claim.volume.name
              - if claim.read_only?
                .float-right = VolumeClaim.human_attribute_name("read_only")
            .target.text-muted = claim.target

  - if @service.config_claims.environments.any?
    .card.mb-3
      .card-header Environment variables
      .list-group.list-group-flush
        - @service.config_claims.environments.ordered.each do |claim|
          .list-group-item.d-flex.flex-column
            .target.small.font-weight-bold = claim.target
            .value.text-muted = claim.config.formatted_value

  - if @service.config_claims.secrets.any?
    .card.mb-3
      .card-header Secrets
      .list-group.list-group-flush
        - @service.config_claims.secrets.ordered.each do |claim|
          .list-group-item.d-flex.flex-column
            .name.small.font-weight-bold = claim.config.name
            .target.text-muted
              | /run/secrets/#{claim.target}

  - if @service.config_claims.configs.any?
    .card.mb-3
      .card-header Configs
      .list-group.list-group-flush
        - @service.config_claims.configs.ordered.each do |claim|
          .list-group-item.d-flex.flex-column
            .name.small.font-weight-bold = claim.config.name
            .target.text-muted = claim.target

  - if @service.external_service_claims.any?
    .card.mb-3
      .card-header External services
      .list-group.list-group-flush
        - @service.external_service_claims.each do |claim|
          .list-group-item.d-flex.flex-column
            .name.small.d-flex.justify-content-between
              .font-weight-bold = claim.external_service.name
              .text-muted
                ' Type:
                = claim.external_service.service_type
            .target.text-muted
              - if claim.external_service.minio?
                ' #{claim.target}_HOST,
                ' #{claim.target}_BUCKET,
                ' #{claim.target}_ACCESS_KEY,
                ' #{claim.target}_SECRET_KEY

.card.mb-3
  .card-header.border-bottom-0 Deploy options
  .table-responsive
    table.table.mb-0 class=Current.settings.table_class
      tr
        td
          .small.font-weight-bold = Service.human_attribute_name("replicas")
          .text-muted = @service.replicas
        td
          .small.font-weight-bold = Service.human_attribute_name("restart_condition")
          .text-muted = @service.restart_condition
        td
          .small.font-weight-bold = Service.human_attribute_name("restart_delay")
          .text-muted = number_to_duration @service.restart_delay
        td
          .small.font-weight-bold = Service.human_attribute_name("restart_window")
          .text-muted = number_to_duration @service.restart_window
        td
      tr
        td
          .small.font-weight-bold = Service.human_attribute_name("update_parallelism")
          .text-muted = @service.update_parallelism
        td
          .small.font-weight-bold = Service.human_attribute_name("update_delay")
          .text-muted = number_to_duration @service.update_delay
        td
          .small.font-weight-bold = Service.human_attribute_name("update_failure_action")
          .text-muted = @service.update_failure_action
        td
          .small.font-weight-bold = Service.human_attribute_name("update_monitor")
          .text-muted = number_to_duration @service.update_monitor
        td
          .small.font-weight-bold = Service.human_attribute_name("update_order")
          .text-muted = @service.update_order

      tr
        td
          .small.font-weight-bold = Service.human_attribute_name("rollback_parallelism")
          .text-muted = @service.rollback_parallelism
        td
          .small.font-weight-bold = Service.human_attribute_name("rollback_delay")
          .text-muted = number_to_duration @service.rollback_delay
        td
          .small.font-weight-bold = Service.human_attribute_name("rollback_failure_action")
          .text-muted = @service.rollback_failure_action
        td
          .small.font-weight-bold = Service.human_attribute_name("rollback_monitor")
          .text-muted = number_to_duration @service.rollback_monitor
        td
          .small.font-weight-bold = Service.human_attribute_name("rollback_order")
          .text-muted = @service.rollback_order

- if policy(@service).duplicate?
  => link_to 'Duplicate', [:duplicate, @service], method: :post, data: { confirm: t(:are_you_sure) }, class: "btn btn-secondary"
