<template>
  <div class="card-body docker-service d-flex flex-column">
    <div class="docker-service-info d-flex flex-column flex-md-row">
      <div class="d-none d-md-block flex-shrink-1 flex-grow-0 mr-3 ml-1 mt-2">
        <div v-bind:class="statusClass">&nbsp;</div>
      </div>
      <div data-title="Service">{{service.name}}</div>
      <div data-title="Image" v-bind:title="service.image">{{service.image | formatImage}}</div>
      <div data-title="Replicas">
        <div class="badge badge-dark">{{runningTasks}}</div> / <div class="badge badge-dark">{{service.replicas}}</div>
      </div>
      <div class="d-block d-md-none d-lg-block" data-title="Hosts">
        <div v-for="port in service.ports">
          {{port.number}} –> {{port.hosts.join(", ")}}
        </div>
      </div>
      <div class="d-block d-md-none d-lg-block" data-title="Created at">{{service.created_at | fromNow}}</div>
      <div data-title="Updated at">{{service.updated_at | fromNow}}</div>
      <div class="text-right flex-shrink-1 flex-grow-0 align-self-end">
        <a v-if="service.restart" v-bind:href="service.restart" class="btn btn-sm btn-outline-secondary" data-confirm="Do you really want to restart the service?" data-method="post">Restart</a>
        <a v-if="service.logs" v-bind:href="service.logs" class="btn btn-sm btn-outline-secondary">Show Logs</a>
      </div>
    </div>
    <div class="docker-service-details table-responsive">
      <table class="table table-sm table-borderless mb-0">
        <tbody>
          <tr v-if="service.tasks.length > 0">
            <th>Task</th>
            <th>Image</th>
            <th>State</th>
            <th>Desired state</th>
            <th>Message</th>
            <th>Created at</th>
            <th></th>
          </tr>

          <docker-task v-for="task in service.tasks" v-bind:key="task.id" v-bind:task="task"></docker-task>
          <tr v-if="service.tasks.length == 0"><td colspan="7" class="small text-muted">No docker tasks found.</td></tr>

          <tr><td colspan="7">&nbsp;</td></tr>
          <tr v-if="service.containers.length > 0">
            <th>Container</th>
            <th>Image</th>
            <th>State</th>
            <th>Status</th>
            <th>Ports</th>
            <th>Created at</th>
            <th></th>
          </tr>

          <docker-container v-for="container in service.containers" v-bind:key="container.id" v-bind:container="container"></docker-container>
          <tr v-if="service.containers.length == 0"><td colspan="7" class="small text-muted">No docker containers found.</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    service: Object
  },
  computed: {
    runningTasks(){
      return this.service.tasks.filter(task => task.state == "running").length;
    },
    statusClass(){
      return `badge badge-pill badge-${this.service.status}`
    }
  }
}
</script>
