<template>
  <tr>
    <td>{{task.id | formatId}}</td>
    <td v-bind:title="task.image">{{task.image | formatImage}}</td>
    <td>{{task.state}}</td>
    <td>{{task.desired_state}}</td>
    <td>{{task.error}}</td>
    <td>{{task.created_at | fromNow}}</td>
    <td></td>
  </tr>
</template>

<script>
export default {
  props: {
    task: Object
  }
}
</script>
