nav.navbar.navbar-expand-md.navbar-dark.bg-primary
  = link_to root_path, class: "navbar-brand"
    => icon "cargo"
    | Cargo

  button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation"
    span.navbar-toggler-icon

  .collapse.navbar-collapse#navbar-content
    .navbar-nav.mr-auto
      - if @stack.present? && policy(@stack).show?
        = active_link_to "Dashboard", [@stack], class: "nav-link", active: /stacks\/[\w\-]{36}(\/edit)?$|environments\/[\w\-]{36}|environments\/[\w\-]{36}\/services/

        - if policy(Deployment).index?
          = active_link_to "Deployments", [@stack, :deployments], class: "nav-link", active: /environments$|environments\/new|deployments/

        .navbar-divider
        - if policy(Service).index?
          = active_link_to "Services", [@stack, :services], class: "nav-link", active: /^\/services|stacks\/[\w\-]{36}\/services/

        - if policy(Volume).index?
          = active_link_to "Volumes", [@stack, :volumes], class: "nav-link", active: /volumes/

        - if policy(Frontend).index?
          = active_link_to "Frontends", [@stack, :frontends], class: "nav-link", active: /frontends/

        - if policy(Config).index?
          = active_link_to "Configs", [@stack, :configs], class: "nav-link", active: /configs/

        - if policy(ExternalService).index?
          = active_link_to "External services", [@stack, :external_services], class: "nav-link", active: /external_services/

      - elsif user_signed_in?
        - if policy(Stack).index?
          = active_link_to "Stacks", [:stacks], class: 'nav-link', active: /stacks/

        - if policy(User).index? || policy(ApplicationSetting).show?
          .navbar-divider
          - if policy(User).index?
            = active_link_to "Users", [:users], class: 'nav-link', active: /users/
          - if policy(ApplicationSetting).show?
            = active_link_to "Settings", [:application_setting], class: 'nav-link', active: /application_setting/

    - if user_signed_in?
      .navbar-text.d-md-none.d-lg-inline-block
        = current_user.username
