@mixin custom-badge-variant($bg)
  // color: color-yiq($bg);
  background-color: $bg;

  @at-root a#{&}
    @include hover-focus
      // color: color-yiq($bg);
      background-color: lightness($bg, 0.9);


    &:focus,
    &.focus
      outline: 0;
      // box-shadow: 0 0 0 $badge-focus-width rgba($bg, .5)
      box-shadow: 0 0 0 $badge-focus-width alpha($bg, .5)


.badge-primary
  @include custom-badge-variant(var(--primary-color))
