- page_heading
  h1
    => @external_service.stack.name
    small = t(".title")

  - if policy(@external_service).show?
    = link_to t(:show), @external_service, class: "btn btn-secondary"

== render 'form'
