= simple_form_for(shallow(@stack, @environment)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, readonly: !f.object.new_record?
    = f.input :node_label, collection: Current.settings.node_labels

  .form-actions
    - if policy(Deployment).index?
      => link_to f.object.class.model_name.human(count: 2), [f.object.stack, :deployments], class: "btn btn-outline-secondary"

    = f.button :submit, class: "btn-primary"
