- if environment&.last_deployment&.frontend_hosts.present?
  .dropdown
    button.btn.btn-secondary.dropdown-toggle type="button" id="dropdownMenuButton-#{environment.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" Open

    .dropdown-menu.dropdown-menu-right aria-labelledby="dropdownMenuButton-#{environment.id}"
      - environment.last_deployment.frontend_hosts.each do |frontend_host|
        = link_to "https://#{frontend_host}", target: :_blank, class: "dropdown-item"
          => icon "external-link"
          => frontend_host
