.docker-service
  + .docker-service
    border-top: $card-border-width solid $card-border-color

  &:nth-child(odd)
    background-color: $table-accent-bg


.docker-service-info
  > div
    flex-grow: 1
    margin-bottom: $spacer

  border-bottom: $border-width solid $border-color
  margin-bottom: $spacer

  > [data-title]:before
    content: attr(data-title)
    color: $text-muted
    font-size: $small-font-size
    display: block

  .badge
    animation: 1.5s linear infinite


.docker-service-details
  th
    color: $text-muted
    font-size: $small-font-size
    font-weight: normal

  td, th
    padding: 0

    + td, + th
      padding-left: 0.5rem !important

    &:nth-child(1)
      width: 5rem
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    &:nth-child(2)
      width: 25rem
      max-width: 25rem

    &:nth-child(3)
      width: 7rem
      max-width: 7rem

    &:nth-child(4)
      width: 14rem
      max-width: 14rem

    &:nth-child(5)
      min-width: 25rem

    &:nth-child(6)
      width: 10rem
      white-space: nowrap

    &:nth-child(7)
      width: 5.5rem
      white-space: nowrap
      text-align: right

  @include media-breakpoint-down(md)
    td, th
      &:nth-child(2)
        display: none


      &:nth-child(5)
        display: none

  @include media-breakpoint-down(lg)
    td, th
      &:nth-child(1)
        max-width: 2rem
