main > header
  display: flex
  flex-direction: row
  align-items: center
  padding-bottom: $spacer * .5
  border-bottom: $border-width * 2 solid $border-color
  margin-bottom: $spacer

  h1, h2, h3
    order: 0
    margin-right: auto
    margin-bottom: 0
    font-size: $h2-font-size

  .btn + .btn
    margin-left: $spacer * .25

  @include media-breakpoint-down(xs)
    border-bottom: 0
    flex-direction: column
    align-items: stretch

    h1, h2, h3
      border-bottom: $border-width * 2 solid $border-color
      display: block
      margin-right: 0
      padding-bottom: $spacer * .5
      font-size: $h3-font-size

      small
        padding-top: $spacer * .25
        display: block

    .btn
      margin-top: $spacer * .5

      & + .btn
        margin-left: 0
