.w-spacer-7
  max-width: $spacer * 7
  width: $spacer * 7

.w-spacer-20
  max-width: $spacer * 20
  width: $spacer * 20

.w-remove-button
  max-width: $spacer * 4.5
  width: $spacer * 4.5


[data-toggle]
  cursor: pointer

.user-select-none
  user-select: none

.card-header
  font-weight: 500


.clipboard-button
  display: none

.clipboard--supported .clipboard-button
  display: initial

.add-double-point
  &:after
    position: absolute
    top: 2px
    right: 2px
    content: ":"

a.card-header:hover
  text-decoration: none
  color: inherit

.btn-xs-block
  @include media-breakpoint-down(xs)
    display: block
    width: 100%
    margin: 0 0 $btn-block-spacing-y 0 !important

.turbolinks-progress-bar
  height: $spacer * 0.25
  background-color: $white
