.table
  thead
    tr:first-of-type
      td, th
        border-top: 0

  td
    vertical-align: middle

    &.with-btn
      text-align: right
      width: 20px
      padding: 6px
      white-space: nowrap

      .btn
        @extend .btn-sm

    &.with-btn-group
      text-align: right
      padding: 6px
      .btn
        @extend .btn-sm

    &.with-badge
      text-align: center
      width: 20px

    &.with-icon
      text-align: right
      width: 1rem

    &.id
      width: 9rem
      white-space: nowrap

    &.datetime
      width: 12rem
      white-space: nowrap
