- page_heading
  h1
    => @stack.name
    small = t(".title")

.row.mb-3
  .col-md-3.col-xl-2
    .nav.nav-pills.flex-column.mb-3 role="tablist"
      - @environments.each.with_index do |environment, index|
        a.nav-link class=("active" if index.zero?) id="environment-#{environment.name.downcase}-tab" data-toggle="pill" href="#environment-#{environment.name.downcase}" role="tab" aria-controls="environment-#{environment.name.downcase}" aria-selected="true"
          => environment.name
          - if environment.production?
            = icon "star"

    - if policy(Environment).create?
      => link_to t(:title, scope: %i[environments new]), [:new, @stack, :environment], class: "btn btn-xs-block btn-secondary"
    .mb-5

  .tab-content.col-md-9.col-xl-10
    - @environments.each.with_index do |environment, index|
      .tab-pane class=("active" if index.zero?)  id="environment-#{environment.name.downcase}" role="tabpanel" aria-labelledby="environment-#{environment.name.downcase}-tab"
        h4
          - if policy(Deployment).create?
            = link_to t(:title, scope: %i[deployments new]), [:new, @stack, :deployment, environment: environment.name], class: "btn btn-secondary btn-sm float-right"
          => Environment.model_name.human
          = environment.name
        hr.divider.mb-0
        .table-responsive
          table.table class=Current.settings.table_class
            thead
              tr
                th = Deployment.human_attribute_name("version")
                th = Deployment.human_attribute_name("message")
                th = Deployment.human_attribute_name("updated_at")
                th

            tbody
              - environment.deployments.ordered.limit(10).each do |deployment|
                tr
                  td = deployment.version
                  td.pre = deployment.message_short
                  td = l deployment.updated_at, format: :short
                  td.with-btn
                    - if policy(deployment).show?
                      = link_to t(:show), deployment, class: "btn btn-sm btn-primary"

        - if policy(environment).destroy?
          => link_to t(:destroy), environment, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-xs-block btn-sm btn-outline-danger"
